html,body
{
	margin:0px;
	padding:0px;
	font-family: Arial;
	font-size: 16px;
}
h1
{
	margin:20px;
}
.my-new-list
{
	width: 100%;	
	margin: 0px;
	padding: 0px;
}
.my-new-list li
{
	border:1px solid black;
	border-top: 0px solid black;
	list-style-type: none;
	padding: 10px 20px;
}
.my-new-list li:nth-child(2n)
{
	background: #ddd;
}
.my-new-list li a
{
	text-decoration: none;
    font-weight: bold;
    color: #149bf2;
}
.my-new-list li:nth-child(2n) a
{
	color:#2fa3ed;
}